<mat-toolbar>
  <span>Movies Ecommerce</span>
  <span class="example-spacer"></span>
  <button matButton routerLink="" routerLinkActive="active-button" [routerLinkActiveOptions]="{ exact: true }">
    Catálogo de filmes
  </button>

  @if (isLoggedIn) {
    <button matButton routerLink="movies/add" routerLinkActive="active-button" [routerLinkActiveOptions]="{ exact: true }">
      Adicionar filme
    </button>
    
    <button matButton (click)="logoutCurrentUser()">
      Logout
    </button>
  } @else {
    <button matButton aria-label="Login user" routerLink="login">
      Login
    </button>
  }
</mat-toolbar>
