<mat-toolbar>
  <span>Movies Ecommerce</span>
  <span class="example-spacer"></span>
  <button matButton routerLink="" routerLinkActive="active-button" [routerLinkActiveOptions]="{ exact: true }">
    {{ 'header.moviesList' | translate }}
  </button>

  @if (isLoggedIn) {
    <button matButton routerLink="movies/add" routerLinkActive="active-button" [routerLinkActiveOptions]="{ exact: true }">
      {{ 'header.addNewMovie' | translate }}
    </button>
    
    <button matButton (click)="logoutCurrentUser()">
      {{ 'header.logout' | translate }}
    </button>
  } @else {
    <button matButton aria-label="Login user" routerLink="login">
      {{ 'header.login' | translate }}
    </button>
  }

  <div>
    <button mat-button (click)="changeLanguage('pt-br')">
      {{ 'header.languages.portuguese' | translate }}
    </button>
    <button mat-button (click)="changeLanguage('en')">
      {{ 'header.languages.english' | translate }}
    </button>
  </div>

  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
